{% extends 'core/baseEti.html'%}
{% load static %}

<!-- Block para el titulo de la pagina en la pestaña-->
{% block titile %} Sobre nosotros {% endblock%}

{% block content %} 
    
            <div class="custom-breadcrumns border-bottom">
                <div class="container ">
                    <a href="#">Home</a>
                    <span class="mx-3 icon-keyboard_arrow_right"></span>
                    <span class="current">Sobre nosotros</span>
                </div>
            </div>

            <div class="container pt-5 mb-5">
                <div class="row">
                    <div class="col-lg-4">
                        <h2 class="section-title-underline">
                            <span>Historia de la Escuela</span>
                        </h2>
                    </div>
                    <div class="col-lg-4">
                            <p>Esta ubicada en la calle Jiquilpan N° 39 de la Col. Santa Clara al occidente de la Ciudad de Minatitlan, Veracruz.


                                Las instalaciones se abrieron en Agosto de 1963 con el nombre de Centro de Capacitación para el Trabajo Industrial N° 6, conocido como CECATI N° 6, fue inaugurada por el C. Presidente de la República Lic. Adolfo López Mateos. Los directivos en ese tiempo fureon los ciudadanos Ing. Francisco Javier Osorio y el Técnico Amado Zamudio.

                                Así se trabajo durante seis años en dos turnos con horarios de 07:00 a 13:00 hrs. y de 15:00 a 19:00 hrs de lunes a sábado con las especialidades de Electricidad, Ajuste de Banco y Máquinas-Herramientas, Soldadura y Forja, Instalaciones Sanitarias e Indusria del Vestido, todos con un grupo en cada turno, siendo en su mayor parte los alumnos adultos trabajadores de la región.

                                En 1969 siendo el director el Ing. Enrique Elizalde y el coordinador el Ing. Roberto Uriega, la Dirección General de Educación Tecnológica Industrial decide crear en las instalaciones otra institución con el nombre de ESCUELA TECNOLÓGICA INDUSTRIAL N° 123 (ETI N° 123) que comienza a funcionar en octubre del mismo año.</p>
                                                </div>
                                                <div class="col-lg-4">
                                                <p>Siendo el director el Ing. Jorge González Méndez y como subdirector el Ing. Serafín Uscanga Uscanga, inicia actividades con 5 grupos con sistema de asignaturas académicas y los talleres mencionados, convirtiéndose así en la primera Escuela Secundaria Federal de la comunidad.

                                En 1970 se anexan e incrementan el numero de alumnos y grupos al desaparecer la Escuela 20 de Noviembre; en 1973 por disposición de la DGETI se cambia el nombre a ESCUELA TECNOLÓGICA INDUSTRIAL Y COMERCIAL N° 123 (ETIC N°123) anexándose el Taller de Secretariado.

                                En 1976, el nombre se transforma a ESCUELA SECUNDARIA TÉCNICA INDUSTRIAL N° 123 (ESTI 123)

                                Al descentralizarse el sistema educativo en 1978 - 1979, tomó un nuevo nombre de ESCUELA SECUNDARIA TÉCNICA N° 8 (EST N° 8)

                                Finalmente en 1992 adquiere el nombre de ESCUELA SECUNDARIA TÉCNICA INDUSTRIAL    N° 8 (ESTI N° 8)</p>
                            </div>
                        </div>
                        </div> -->

                <div class="site-section">
                    <div class="container">
                        <div class="row mb-5">
                            <div class="col-lg-6 mb-lg-0 mb-4">
                                <img src="{% static 'core/images/course_4.jpg'%}" alt="Image" class="img-fluid"> 
                            </div>
                            <div class="col-lg-5 ml-auto align-self-center">
                                <h2 class="section-title-underline mb-5">
                                    <span>MISIÓN</span>
                                </h2>
                                <p>OFRECER UNA EDUCACIÓN DE CALIDAD, EN DONDE LOS EDUCANDOS, FOMENTEN VALORES, HABILIDADES Y DESTREZAS QUE LES PERMITAN ALCANZAR SUS PROPÓSITOS E INCORPORARSE AL NIVEL INMEDIATO SUPERIOR Y/O A LA VIDA PRODUCTIVA.</p>
                                
                            </div>
                        </div>

                    <div class="row">
                            <div class="col-lg-6 order-1 order-lg-2 mb-4 mb-lg-0">
                                <img src="{% static 'core/images/course_5.jpg'%}" alt="Image" class="img-fluid"> 
                            </div>
                            <div class="col-lg-5 mr-auto align-self-center order-2 order-lg-1">
                                <h2 class="section-title-underline mb-5">
                                    <span>VISIÓN</span>
                                </h2>
                                <p>EN MODALIDAD DE SER UNA INSTITUCIÓN RECONOCIDA CON UNA ENSEÑANZA DE CALIDAD QUE FACILITE A LOS ALUMNOS A CONTINUAR CON UNA PREPARACIÓN ACADÉMICA, TECNOLÓGICA Y CULTURAL COMPROMETIDA CON EL DESARROLLO DEL ESTADO Y DEL PAÍS.</p>
                                
                            </div>
                        </div>
                </div>
            </div>
{% endblock %} 

        